@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nanum Myeongjo', serif;
}

#skip-menu {
  width: 100%;
}

#skip-menu a {
  position: absolute;
  top: -36px;
  left: 0;
  width: 100%;
  height: 35px;
  background-image: linear-gradient(135deg, #0a83e6, #51c8e3, #e68a0a);
  color: #111;
  line-height: 35px;
  font-size: 2rem;
  font-weight: 800;
  z-index: 999999;
}

#skip-menu a:focus {
  top: 0;
}

.inner {
  max-width: 1920px;
  padding: 0 18rem;
  -webkit-transition: padding .5s;
  transition: padding .5s;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .inner {
    padding: 0 5rem;
    -webkit-transition: padding .5s;
    transition: padding .5s;
  }
}

@media screen and (max-width: 700px) {
  .inner {
    padding: 0 2rem;
  }
}

span {
  display: block;
}

a {
  display: block;
  text-decoration: none;
  text-align: center;
}

ol,
ul,
li {
  list-style: none;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

h2 {
  padding: 1rem 0;
  font-size: 2.4rem;
  font-weight: 800;
  text-transform: uppercase;
  background: -webkit-gradient(linear, right top, left top, from(#285a91), to(#1f9cfd));
  background: linear-gradient(to left, #285a91, #1f9cfd);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

h2:hover {
  padding-left: 1.5rem;
}

.u-margin-right-small {
  margin-right: 1rem;
}

.u-margin-right-medium {
  margin-right: 2rem;
}

.u-margin-right-big {
  margin-right: 3rem;
}

.btn-text {
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  color: #285a91;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 1px solid #285a91;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-text:hover {
  color: #fff;
  background-color: #1f9cfd;
  border-bottom: 1px solid transparent;
}

.nav-checkbox {
  display: none;
}

.nav-button {
  width: 7rem;
  height: 6rem;
  position: fixed;
  top: 0;
  right: 3rem;
  z-index: 2000;
  cursor: pointer;
  border-radius: 2px;
}

.nav-bg {
  background: url(https://res.cloudinary.com/giruda1113/image/upload/v1650951773/web%20portfolio/project3/visual_bg_wuyoub.jpg) no-repeat top left/cover;
  width: 7rem;
  height: 6rem;
  position: fixed;
  top: 0;
  right: 5rem;
  z-index: 1000;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
}

.nav-checkbox:checked ~ .nav-bg {
  top: 25rem;
  right: 100rem;
  -webkit-transform: scale(30);
          transform: scale(30);
  opacity: 1;
}

.nav-icon {
  position: relative;
  margin-top: 3rem;
}

.nav-icon::before {
  top: -0.8rem;
}

.nav-icon::after {
  top: 0.8rem;
}

.nav-icon::before, .nav-icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav-icon, .nav-icon::before, .nav-icon::after {
  width: 3rem;
  height: 2px;
  background-color: #fff;
  display: inline-block;
}

.nav:hover .nav-bg {
  opacity: 1;
}

.nav-button:hover .nav-icon::before {
  top: -1rem;
}

.nav-button:hover .nav-icon::after {
  top: 1rem;
}

.nav-checkbox:checked ~ .nav-button .nav-icon {
  background-color: transparent;
}

.nav-checkbox:checked ~ .nav-button .nav-icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.nav-checkbox:checked ~ .nav-button .nav-icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.nav-body {
  position: fixed;
  top: 0;
  left: -120%;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.nav-list {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.nav-link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
}

.nav-link:hover {
  color: #285a91;
  background-position: 100%;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.nav-link span {
  display: inline-block;
  margin-right: 1.5rem;
}

.nav-checkbox:checked ~ .nav-body {
  opacity: 1;
  left: 0;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  header {
    height: 100vh;
  }
}

@media screen and (max-width: 700px) {
  header {
    height: 100vh;
  }
}

header .logo {
  width: 100%;
  height: 60px;
  background: #111;
  position: fixed;
  z-index: 100;
}

header .logo a {
  line-height: 60px;
}

header .logo .ffx_logo {
  height: 50%;
  margin-top: 20px;
}

header #trailer {
  width: 110%;
  height: 130%;
  position: fixed;
  z-index: -9999;
  -webkit-transition: all .5s;
  transition: all .5s;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  header #trailer {
    width: 290%;
    height: 100%;
  }
}

@media screen and (max-width: 700px) {
  header #trailer {
    width: 500%;
    height: 100%;
  }
}

header #title {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(https://res.cloudinary.com/giruda1113/image/upload/v1650951495/web%20portfolio/visual_logo_bpnqzq.png);
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  height: 600px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  header #title {
    width: 800px;
    height: 600px;
    top: 30%;
  }
}

@media screen and (max-width: 700px) {
  header #title {
    width: 350px;
    height: 220px;
    top: 30%;
  }
}

header #header-text {
  position: absolute;
  left: 50%;
  bottom: 1%;
  color: #fff;
  letter-spacing: -.1rem;
  font-weight: 700;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  header #header-text {
    bottom: 20%;
  }
}

@media screen and (max-width: 700px) {
  header #header-text {
    bottom: 15%;
  }
}

header #header-text-main {
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 3px 3px 10px #a75100, -3px -3px 10px #a75100, 0 0 5px #ff8f27;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

header #header-text-btn {
  margin: 6rem 0;
}

header #header-text-btn a {
  margin: 2rem 0;
  font-size: 2.2rem;
  text-align: center;
  background-color: rgba(17, 17, 17, 0.7);
  width: 400px;
  height: 50px;
  line-height: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  color: #fff;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (max-width: 700px) {
  header #header-text-btn a {
    width: 330px;
  }
}

header #header-text-btn a.active {
  background-image: linear-gradient(135deg, #0a83e6, #51c8e3, #e68a0a);
}

::after {
  content: '';
  display: block;
  clear: both;
}

main {
  background: rgba(12, 19, 30, 0.85);
  text-align: center;
  padding: 5% 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (max-width: 700px) {
  main {
    padding: 0;
  }
}

#section-start {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  height: 1400px;
  z-index: 10;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-start {
    height: 1200px;
  }
}

@media screen and (max-width: 700px) {
  #section-start {
    height: 900px;
  }
}

#section-start::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(https://res.cloudinary.com/giruda1113/image/upload/v1650951494/web%20portfolio/con1_bg_hdl3cb.jpg) no-repeat center center/cover;
  height: 1500px;
  width: 100%;
  z-index: -1;
}

#section-start img.bg {
  position: absolute;
  top: 0;
  left: 0;
}

#section-start #section-start-words {
  padding-top: 50px;
}

#section-start #section-start-words h6 {
  color: #ff8f27;
  font-size: 2rem;
  padding-bottom: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-start #section-start-words h6 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  #section-start #section-start-words h6 {
    font-size: 1rem;
  }
}

#section-start #section-start-words .section-start-words-tit {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 700;
  text-shadow: 3px 3px 10px #a75100, -3px -3px 10px #a75100, 0 0 5px #ff8f27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-start #section-start-words .section-start-words-tit {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 700px) {
  #section-start #section-start-words .section-start-words-tit {
    font-size: 1.4rem;
  }
}

#section-start #section-start-words .section-start-words-tit .big {
  padding-left: 15px;
  font-size: 5rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-start #section-start-words .section-start-words-tit .big {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 700px) {
  #section-start #section-start-words .section-start-words-tit .big {
    font-size: 1.7rem;
  }
}

#section-start #section-start-words img {
  padding-top: 50px;
  width: 100%;
}

#section-start #section-start-words p {
  color: #fff;
  font-size: 2.2rem;
  padding: 100px 0;
  line-height: 1.8;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-start #section-start-words p {
    padding: 100px 3%;
  }
}

@media screen and (max-width: 700px) {
  #section-start #section-start-words p {
    padding: 60px 15%;
    font-size: 1.5rem;
  }
}

#section-contents {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  padding: 84px 0 0;
  background-color: #fff;
  z-index: 10;
}

#section-contents::after, #section-contents::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 46px;
  background-color: #fff;
  -webkit-transform: skewY(-2.5deg);
          transform: skewY(-2.5deg);
}

#section-contents::after {
  bottom: -22px;
}

#section-contents::before {
  top: -22px;
}

#section-contents-text .tit {
  font-size: 3rem;
  font-weight: 700;
}

#section-contents-text p {
  font-size: 2rem;
  padding-top: 30px;
  line-height: 1.5;
}

#section-contents-news {
  margin-top: 30px;
  background-color: #fff;
  padding: 10px;
}

#section-contents-news ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section-contents-news li {
  width: 22%;
  margin: 10px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-contents-news li {
    width: 45%;
  }
}

@media screen and (max-width: 700px) {
  #section-contents-news li {
    width: 100%;
  }
}

#section-contents-news a {
  color: #111;
  font-size: 2rem;
  padding: 10px 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#section-contents-news a::before {
  content: 'NEW';
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 800;
  font-family: 'Nanum Gothic', sans-serif;
  opacity: .4;
}

#section-contents-news a:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#section-contents-news a:hover .btn {
  background-image: linear-gradient(10deg, #0a83e6, #51c8e3, #e68a0a);
}

#section-contents-news .tit {
  padding: 40px 0 15px;
  font-size: 3rem;
  font-weight: 700;
}

#section-contents-news .txt {
  margin: 20px 0;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: -1px;
  line-height: 1.5;
  opacity: .5;
  height: 160px;
}

#section-contents-news .image {
  width: 100%;
  overflow: hidden;
}

#section-contents-news .btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#474747), to(#474747));
  background-image: linear-gradient(#474747, #474747);
  color: #fff;
  padding: 10px 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#section-contents-list {
  position: relative;
  padding: 40px 80px;
  background-color: #b9b9b9;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-contents-list {
    padding: 40px 80px;
  }
}

@media screen and (max-width: 700px) {
  #section-contents-list {
    padding: 20px 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#section-contents-list::after, #section-contents-list::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 46px;
  background-color: #b9b9b9;
  -webkit-transform: skewY(-2.5deg);
          transform: skewY(-2.5deg);
  z-index: -1;
}

#section-contents-list::after {
  bottom: -22px;
}

#section-contents-list::before {
  top: -22px;
}

#section-contents-list ul {
  z-index: 100;
  text-align: left;
  height: 300px;
  margin-right: 80px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-contents-list ul {
    height: 400px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 700px) {
  #section-contents-list ul {
    height: 100%;
    margin-right: 0;
  }
}

#section-contents-list li {
  font-size: 1.8rem;
  width: 100%;
  margin-bottom: 8px;
  position: relative;
}

#section-contents-list li::before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #111;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 6px;
  left: -12px;
}

#section-final {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  padding: 300px 0;
  z-index: 10;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-final {
    padding: 300px 20px;
  }
}

@media screen and (max-width: 700px) {
  #section-final {
    padding: 300px 20px;
  }
}

#section-final-events > .tit {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 30px;
}

#section-final-events ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section-final-events li {
  width: calc(100%/3.2);
  max-width: 330px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (max-width: 700px) {
  #section-final-events li {
    width: 100%;
    margin: 0 auto;
  }
}

#section-final-events li:first-child::before {
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url(https://res.cloudinary.com/giruda1113/image/upload/v1650951494/web%20portfolio/bnr_com1_t4vj9v.jpg) no-repeat center center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#section-final-events li:nth-child(2)::before {
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url(https://res.cloudinary.com/giruda1113/image/upload/v1650951494/web%20portfolio/bnr_com2_xft3vg.jpg) no-repeat center center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#section-final-events li:last-child::before {
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url(https://res.cloudinary.com/giruda1113/image/upload/v1650951494/web%20portfolio/bnr_com3_ok4mk2.jpg) no-repeat center center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#section-final-events li > a {
  height: 150px;
  padding-left: 26px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  text-align: left;
  letter-spacing: -.04em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-final-events li > a .big {
  margin-top: 8px;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: -.08em;
  display: block;
}

#section-final-guide {
  margin-top: 80px;
}

#section-final-guide > .tit {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 30px;
}

#section-final-guide .big {
  height: 100px;
  color: #fff;
  margin-top: 8px;
  font-weight: 400;
  font-size: 25px;
  line-height: 100px;
  letter-spacing: -.08em;
  display: block;
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (max-width: 700px) {
  #section-final-guide .big {
    font-size: 16px;
  }
}

#section-final-guide li {
  position: relative;
  height: 100px;
  width: 100%;
  max-width: 1020px;
  overflow: hidden;
}

#section-final-guide li::before {
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url(https://res.cloudinary.com/giruda1113/image/upload/v1650951494/web%20portfolio/bnr_com4_wnstze.jpg) no-repeat center center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#section-final li:hover:before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  color: #474747;
  background-color: #fff;
  padding: 5rem 0;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 1.8;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  footer {
    padding: 3rem 0;
  }
}

@media screen and (max-width: 700px) {
  footer {
    padding: 3rem 0;
  }
}

footer::after {
  content: '';
  display: block;
  clear: both;
}

footer #meual-list {
  width: 30%;
  font-size: 1.7rem;
  float: right;
  padding: 5rem 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  footer #meual-list {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  footer #meual-list {
    width: 100%;
  }
}

footer #meual-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  footer #meual-list ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 700px) {
  footer #meual-list ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

footer #meual-list li {
  width: 150px;
}

footer #meual-list a {
  color: #111;
  text-decoration: none;
  text-align: left;
}

footer #meual-list a.bold {
  color: #ff8f27;
}

footer #meual-list a:hover {
  text-decoration: underline;
}

footer #copyright {
  width: 60%;
  font-size: 1.6rem;
  float: left;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  footer #copyright {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  footer #copyright {
    width: 100%;
  }
}

footer #copyright p:nth-child(5) {
  margin-bottom: 2rem;
}

footer #copyright .copy {
  font-size: 1.4rem;
  color: #b9b9b9;
}

footer #copyright .logo-image {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #copyright .logo-image img {
  margin-right: 2rem;
}

footer #copyright .logo-image img + img {
  margin-top: 2rem;
}

footer #validator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

footer #validator a {
  width: 100%;
  margin-left: 15px;
  margin-top: 20px;
}
