footer {
	color: $color-gray-dark;
	background-color: $color-white;
	padding: 5rem 0;

	@include mq("small-screen-2") {
		padding: 3rem 0;
	}
	@include mq("small-screen-3") {
		padding: 3rem 0;
	}

	@include clearfix();

	#meual-list{
		width: 30%;
		font-size: 1.7rem;
		float: right;
		line-height: 1.8;
		font-family: 'Nanum Godik', sans-serif;
		padding: 5rem 0;
		transition: all .5s;

		@include mq("small-screen-2") {
			width: 100%;
		}
		@include mq("small-screen-3") {
			width: 100%;
		}

		ul{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			transition: all .5s;
			
		@include mq("small-screen-2") {
			justify-content: flex-start;
		}
		@include mq("small-screen-3") {
			justify-content: flex-start;
		}
		}

		li{
			width: 150px;
		}

		a{
			color: #111;
			text-decoration: none;
			text-align: left;
		}
		a:hover{
			text-decoration: underline;
		}

	}

	#copyright {
		width: 60%;
		font-size: 1.6rem;
		float: left;
		line-height: 1.8;
		font-family: 'Nanum Godik', sans-serif;
		transition: all .5s;

		@include mq('small-screen-2') {
			width: 100%;
		}

		@include mq('small-screen-3') {
			width: 100%;
		}

		p:nth-child(5) {
			margin-bottom: 2rem;
		}

		.copy {
			font-size: 1.4rem;
			color: $color-gray-light;
		}

		.logo-image {
			margin-bottom: 2rem;
			display: flex;
			align-items: center;

			img {
				margin-right: 2rem;
			}

			img+img {
				margin-top: 2rem;
			}
		}
	}

}