header {
    width: 100%;
    height: 120vh;
    position: relative;
    transition: all .5s;

    @include mq("small-screen-2") {
        height: 100vh;
    }

    @include mq("small-screen-3") {
        height: 100vh;
    }

    .logo {
        width: 100%;
        height: 60px;
        background: #111;
        position: fixed;
        z-index: 100;

        a {
            line-height: 60px;
        }

        .ffx_logo {
            height: 50%;
            margin-top: 20px;
        }
    }

    #trailer {
        width: 110%;
        height: 130%;
        position: fixed;
        z-index: -9999;
        transition: all .5s;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include mq("small-screen-2") {
            width: 290%;
            height: 100%;
        }

        @include mq("small-screen-3") {
            width: 500%;
            height: 100%;
        }
    }

    #title {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        background-image: url(https://res.cloudinary.com/giruda1113/image/upload/v1650951495/web%20portfolio/visual_logo_bpnqzq.png);
        background-position: center 20%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 800px;
        height: 600px;
        transition: all .5s;

        @include mq("small-screen-2") {
            width: 800px;
            height: 600px;
            top: 30%;
        }

        @include mq("small-screen-3") {
            width: 350px;
            height: 220px;
            top: 30%;
        }
    }

    #header-text {
        position: absolute;
        left: 50%;
        bottom: 1%;
        color: $color-white;
        letter-spacing: -.1rem;
        font-weight: 700;
        transform: translateX(-50%);
        text-align: center;
        transition: all .5s;

        @include mq("small-screen-2") {
            bottom: 20%;
        }

        @include mq("small-screen-3") {
            bottom: 15%;
        }

        &-main {
            font-size: 5rem;
            font-weight: 700;
            text-shadow: 3px 3px 10px #a75100, -3px -3px 10px #a75100, 0 0 5px #ff8f27;

            animation-name: moveInRight;
            animation-duration: 2s;
            animation-delay: 2s;
            animation-fill-mode: backwards;
        }

        &-btn {
            margin: 6rem 0;

            a {
                margin: 2rem 0;
                font-size: 2.2rem;
                text-align: center;
                background-color: rgba(17, 17, 17, .7);
                width: 400px;
                height: 50px;
                line-height: 50px;
                border-width: 1px;
                border-style: solid;
                border-color: $color-white;
                color: #fff;

                animation-name: moveInLeft;
                animation-duration: 2s;
                animation-delay: 3.5s;
                animation-fill-mode: backwards;
                transition: all .5s;

                @include mq("small-screen-3") {
                    width: 330px;
                }
            }

            & a.active {
                background-image: linear-gradient(135deg, #0a83e6, #51c8e3, #e68a0a);
            }
        }
    }
}
